# Byte-compiled / optimized / DLL files
__pycache__
downloaded_files
.env
*.json

#general
product_url.txt
test.py

#fastapi
/app/models/user.py
/app/routers/auth.py
/app/schemas/users.py
/app/schemas/cart.py
/app/services/users.py
