# Byte-compiled / optimized / DLL files
__pycache__
downloaded_files
.env
*.json

#general
product_url.txt
test.py

#fastapi
/backend/schemas/cart.py

#scraper
/scrapers

#ignore
!package.json
!package-lock.json
!tsconfig.json